.App {
  text-align: center;
}

.pagination{
  display: flex;
  justify-content: center;
  background-color: cadetblue;
}
.pagination > li{
  margin-left: 1%;
  border-width: 1px;
  border-color: black;
}


.nextButton{
  color: brown;
}